{% extends 'base.html.twig' %}

{% block title %}Tags Page{% endblock %}

{% block body %}
    <br>
    <div class='container'>
        <span class="badge badge-secondary">{{ tags[0].name }}</span>
        <h3>Campaigns</h3>
    </div>
    <br>
    {% for tag in tags %}
        <div class='container'>
            <div class='container bg-light rounded border border-dark'>
                <br>
                <h4 class='text-dark'><a href='{{ path('campaign', {'id': tag.campaigns.id}) }}'>{{ tag.campaigns.name }}</a></h4>
                <h6 class='text-dark'>Need money: {{ tag.campaigns.money }}$</h6>
                <p class='text-dark'>{{ tag.campaigns.description }}</p>
                <p class='text-dark'>Author: {{ tag.campaigns.user }}</p>
                <br>
            </div>
        </div>
    {% endfor %}
{% endblock %}
