{% extends 'base.html.twig' %}

{% block title %}
    User
{% endblock %}

{% block body %}
    <div class='container'>
        <h3>User info</h3>
        <p>Username: {{ user.username }}</p>
        <p>Role: 
            {% if user.roles|join('') == 'ROLE_USER' %}
                User
            {% else %}
                Admin
            {% endif %}
        </p>
    </div>
    <hr>

    <h3>Bonuses</h3>
    <div class='container'>
            {% if bonuses %}
                <div class="row">
                    {% for b in bonuses %}
                        <div class="col-sm-3 container">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ b.name }}</h5>
                                    <p class="card-text">{{ b.money }}$</p>
                                    <p class="card-text">{{ b.description }}</p>
                                    <p class="card-text">Campaign: <a href='{{ path('campaign', {'id': b.campaign.id }) }}'>{{ b.campaign.name }}</a></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>None</p>
            {% endif %}
    </div>
    <hr>
    
    <h3>Campaigns</h3>
    <div class='container'>
        {% if (is_granted('ROLE_ADMIN')) %}
            <a href="{{ path('create_campaign_admin', {'id': user.id }) }}" class="btn btn-primary">Create campaign</a>
        {% endif %}
        {% if (is_granted('ROLE_ADMIN') == false) and (check_user) %}
            <a href="{{ path('create_campaign', {'id': user.id }) }}" class="btn btn-primary">Create campaign</a>
        {% endif %}
        <br><br>
        {% if campaigns %}
            <div class="row">
                {% for c in campaigns %}
                    <div class="col-sm-4 container bg-light border border-dark">
                        <br>
                        <h4 class='text-dark'><a href='{{ path('campaign', {'id': c.id}) }}'>{{ c.name }}</a></h4>
                        <h6 class='text-dark'>Need money: {{ c.money }}$</h6>
                        <p class='text-dark'>{{ c.description }}</p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>None</p>
        {% endif %}
    </div>
    <hr>

    <div class='container'>
        {% if (is_granted('ROLE_ADMIN')) %}
        <br>
        <a href="{{ path('admin_delete', {'id':user.id})}}" class="btn btn-danger">Delete this account</a>
        <br>
        <br>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            {% if user.roles|join('') == 'ROLE_USER' %}
                <a href="{{ path('admin_make', {'id':user.id})}}" class="btn btn-primary">Make user an administrator</a>
            {% else %}
                <a href="{{ path('admin_user_make', {'id':user.id})}}" class="btn btn-primary">Take away administrator rights from the user</a>
            {% endif %}
        {% endif %}
    </div>
    <br>
{% endblock %}