{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <h1>Crowdfunding</h1>
    {% if app.user %}

        <h3>Recently established campaigns</h3>
        <div class='container'>
            {% for c in campaigns %}
                <div class='container bg-light rounded border border-dark'>
                    <br>
                    <h4 class='text-dark'><a href='{{ path('campaign', {'id': c.id}) }}'>{{ c.name }}</a></h4>
                    <h6 class='text-dark'>Need money: {{ c.money }}$</h6>
                    <p class='text-dark'>{{ c.description }}</p>
                    <p class='text-dark'>Author: {{ c.user }}</p>
                    <br>
                </div>
                <br>
            {% endfor %}
        </div>

        <h3>Tag Cloud</h3>
        <div class='container'>

            {% if tags %}
            <p> 
                {% for tag in tags %}
                    <a href='{{ path('tags_page', {'id': tag.id }) }}'><span class="badge badge-secondary">{{ tag.name }}</span></a>
                {% endfor %}
            </p>
            {% else %}
                <p>None</p>
            {% endif %}
        </div>
    {% else %}
        <br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <p class='text-center'>Log in to your page to use</p>
                    <p class='text-center'>all the functionality of the site</p>
                    <p class='text-center'><a href="{{ path('app_login') }}" class='btn btn-lg btn-primary'>Sign In</a></p>
                </div>
                <div class="col-sm-2">
                    <br><br>
                    <p class='text-center h3'>or</p>
                </div>
                <div class="col-sm-5">
                    <p class='text-center'>Register to be able to </p>
                    <p class='text-center'>create campaigns and receive bonuses</p>
                    <p class='text-center'><a href="{{ path('app_register') }}" class='btn btn-lg btn-primary'>Sign Up</a></p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
